@*
* This template is called from the `index` template. This template
* handles the rendering of the page header and body tags. It takes
* two arguments, a `String` for the title of the page and an `Html`
* object to insert into the body of the page.
*@
@(title: String)(content: Html)

<!DOCTYPE html>
<html lang="en">

<head>
  @* Here's where we render the page title `String`. *@
  <title>@title</title>
  <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/main.css")"> <link
    rel="shortcut icon" type="image/png" href="@routes.Assets.versioned(" images/favicon.png")"> <link rel="stylesheet"
    href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

</head>

<body>

  <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #f0f7f7;">
   <a class="navbar-brand" href="#"><b style="font-family: Mixtape;font-size: 60px;align-items: center;">Wise</b></a>
   
   <div class="mx-auto" style="width: 300px;">
   <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search>"
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
</div>

  <ul class="nav justify-content-end">
  <li class="nav-item">
    <a class="nav-link active" href="#">Help</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">AboutUs</a>
  </li>
  <li class="nav-item">
    <a class="nav-link disabled" href="#">Login/SingUp</a>
  </li>
</ul>
  </nav>
 
<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #f0f7f7;">
  <ul class="nav justify-content-center">
  <li class="nav-item">
    <a class="nav-link active" href="#">Transportation</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Fashion</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Electronic Appliances</a>
  </li>
  <li class="nav-item">
    <a class="nav-link disabled" href="#">Vehicles</a>
  </li>
  <li class="nav-item">
    <a class="nav-link disabled" href="#">Hotels</a>
  </li>
  <li class="nav-item">
    <a class="nav-link disabled" href="#">Vehicle Rental</a>
  </li>
  <li class="nav-item">
    <a class="nav-link disabled" href="#">Telecom</a>
  </li>
  <li class="nav-item">
    <a class="nav-link disabled" href="#">Shortest/cheapest path</a>
  </li>
   <li class="nav-item">
    <a class="nav-link disabled" href="#">Offers/Cupons</a>
  </li>
   <li class="nav-item">
    <a class="nav-link disabled" href="#">DayDEALS</a>
  </li>
</ul>
  </nav>
  
    <div class="container col-xl-30px" style="background-color: #faebf9; width:5000px;">
  <div class="d-flex flex-row align-items-stretch justify-content-center" style="height:100px; background-color:#fafbfc;">
 
  <div class="p-100 col-xl-6" style="background-color: #cdced4;"> Be Wise . Shop Wise</div>
  <div class="p-100 col-xl-6" style="background-color: #f2f5f5;">Know All. Compare All</div>
  </div>
</div>
  
  <div class="row" style="grid-columns:12; grid-gutter-width:992px;">
  <div class="col-xl-12" style="background-color: #a9a1e6;">
   <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #a9a1e6;">
  <ul class="nav justify-content-center">
  <li class="nav-item">
    <a class="nav-link active" href="#">Transportation</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Fashion</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Electronic Appliances</a>
  </li>
  <li class="nav-item">
    <a class="nav-link disabled" href="#">Vehicles</a>
  </li>
  <li class="nav-item">
    <a class="nav-link disabled" href="#">Hotels</a>
  </li>
  <li class="nav-item">
    <a class="nav-link disabled" href="#">Vehicle Rental</a>
  </li>
  <li class="nav-item">
    <a class="nav-link disabled" href="#">Telecom</a>
  </li>
</ul>
  </nav>
    <div class="row">
      <div class="col-8 col-sm-6" style="background-color: #cdced4;">
           Be Wise . Shop Wise
      </div>
      <div class="col-4 col-sm-6" style="background-color: #f2f5f5;">
        Know All. Compare All 
      </div>
    </div>
  </div>
</div>
  
  <div class="container col-xl-30px" style="background-color: #59bbf7; width:5000px;">
  <nav class="navbar navbar-expand-lg navbar-dark">
  <ul class="nav justify-content-center">
  <li class="nav-item">
    <a class="nav-link active" href="#">Transportation</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Fashion</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Electronic Appliances</a>
  </li>
  <li class="nav-item">
    <a class="nav-link disabled" href="#">Vehicles</a>
  </li>
  <li class="nav-item">
    <a class="nav-link disabled" href="#">Hotels</a>
  </li>
  <li class="nav-item">
    <a class="nav-link disabled" href="#">Vehicle Rental</a>
  </li>
  <li class="nav-item">
    <a class="nav-link disabled" href="#">Telecom</a>
  </li>
  <li class="nav-item">
    <a class="nav-link disabled" href="#">Shortest/cheapest path</a>
  </li>
   <li class="nav-item">
    <a class="nav-link disabled" href="#">Offers/Cupons</a>
  </li>
   <li class="nav-item">
    <a class="nav-link disabled" href="#">DayDEALS</a>
  </li>
</ul>
  </nav>
  <div class="d-flex flex-row align-items-stretch justify-content-center" style="height:100px; background-color:#fafbfc;">
 
  <div class="p-100 col-xl-6" style="background-color: #cdced4;"> Be Wise . Shop Wise</div>
  <div class="p-100 col-xl-6" style="background-color: #f2f5f5;">Know All. Compare All</div>
  </div>
</div>
  
  @* And here's where we render the `Html` object containing
  * the page content. *@
  @content

  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
  <script src="@routes.Assets.versioned(" javascripts/main.js")" type="text/javascript"></script>
</body>

</html>